#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.carousel{
  width: 400px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.carousel ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 0;
}

.slide-leave-active, .slide-enter-active {
  transition: 1s;
}
/* 왼쪽으로 슬라이딩 */
.rt .slide-enter {
  transform: translate(100%, 0);
}
.rt .slide-leave-to {
  transform: translate(-100%, 0);
}
/* 오른쪽으로 슬라이딩 */
.lt .slide-enter {
  transform: translate(-100%, 0);
}
.lt .slide-leave-to {
  transform: translate(100%, 0);
}

.img-slider{
  overflow: hidden;
  position: relative;
  height: 300px;
  width: 400px;
}
.img-slider img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
}
